#tout_chart_container path{
	stroke:black;
	stroke-width:0.2;
}

.year_dropdown_container{
	margin-bottom: 40px;
}
.hidden{
	fill-opacity:0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}